/* Footer container */
.footer {
	padding: 20px;
}

/* Footer title */
.title {
	margin-bottom: 20px;
}

/* Social media icons */
.iconList {
	list-style: none;
	padding: 0;
}

.iconList li {
	display: inline-block;
	margin-right: 10px; /* İkonlar arası boşluk */
}

/* Copyright notice */
.copyright {
	margin-top: 20px;
}
